@font-face{
    font-family: Abel;
    src: url(../multimedia/Abel-Regular.ttf);
}

@font-face{
    font-family: Chackra;
    src: url(../multimedia/NotoSansDisplay.ttf);
}

@font-face{
    font-family: Akshar;
    src: url(../multimedia/Akshar-Regular.ttf);
}

body{
    // background-color: rgb(235, 210, 210);
    margin: 0;
}

.header *{
    font-size: 20px;
    text-decoration: none;
    font-family: Abel;
    letter-spacing: 9px;
    color: black;
    height: 4em;

    #lizYoga{
        background: url(../multimedia/Ellipse1.png) no-repeat ;
        padding:2em 3.3em 2em 2em;
        float: left;
    }
    
    #contactanos{
        float: right;
        background: url(../multimedia/Ellipse2.png) no-repeat ;
        padding: 2em 1em 2em 2em;
    }
}


.contact{
    font-size: 3em;
    font-family: Amatic;
    // font-family: Arial, Helvetica, sans-serif;
    margin: 2% 25%;

    *{
        margin: 1.5%;
    }

    form{
        padding: 1em 0;
        border: 3px solid black;
        width: 70%;
        border-radius: 20px;
        margin-left: 15%;
        div {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                background: none;
                border-radius: 7px;
                padding: 0.7em;
                margin-left: 3em;
                width: 30%;
            }

            #mensaje{
                margin-top: 1em;
            }

            textarea{
                background: none;
                border-radius: 7px;
                resize: none;
                display: block;
                width: 80%;
                max-width: 100%;
                height: 25vh;
                margin-bottom: 3em;
            }

            #Submit{
                background: none;
                font-size:48%;
                padding: 1em 2em;
                border-radius: 10px;
            }
        }
    } 
}


.content1{
    background: url(../multimedia/text1-background-big.png) no-repeat ;
    font-family: Akshar;
    font-size: 21px;
    line-height: 2em;
    word-spacing: 7px;
    margin: -1% 10% 2%;
    padding-bottom: 8em;

    #planta{
        width: 27%;
        height: auto;
        object-fit: contain;
        margin: 10em 7em 0 12em;
        float:left;
    }

    .texto1{
        width: 22%;
        display: inline-block;
        margin-top: 16%;
    }
}

.content2{
    background: url(../multimedia/text1-background-big2.png) no-repeat ;
    font-family: Akshar;
    font-size: 21px;
    line-height: 2em;
    word-spacing: 7px;
    margin: 0 12% 4%;
    padding-bottom: 9%;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;

    .texto2{
        width: 27%;
        margin:11.5% 0% 13% 11%;
    }
   
    .yoga3{
        width: 26%;
        height: auto;
        object-fit: contain;
        margin-right: 9%;
    }
}

.content3{
    display: flex;
    margin: 0 12% 5%;
    padding-top: 12%;
    padding-bottom: 10%;
    text-align: center;
    font-family: Akshar;
    font-size: 21px;
    line-height: 2em;
    word-spacing: 7px;
    background: url(../multimedia/text1-background-big.png) no-repeat;

    article{
        padding-top: 5%;
        padding-left: 3%;
        width: 25%;
    }

    #piedra{
        width: 30%;
        height: auto;
        object-fit: contain;
        margin-left: 16%;
        margin-right: 7%;
        // border-right: 7px solid rgba(59, 59, 59, 0.719);
    }
}

@media only screen and (max-width: 1800px) {
    .content1{
        background: url(../multimedia/text1-background.png) no-repeat ;
        margin: -1% 2% 0%;
        padding-top: 5%;
        font-size: 19px;

        #planta{
            width: 25%;
            height: auto;
            object-fit: contain;
            margin: 16% 8% 0 6%;
            float:left;
        }
    
        .texto1{
            width: 22%;
            display: inline-block;
            margin-top: 12%;
        }
    }

    .content2{
        background: url(../multimedia/text2-background-.png) no-repeat ;
        margin: 0 6% 3%;
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 19px;
    
        .texto2{
            width: 27%;
            margin:7% 0% 7% 4%;
        }
        .yoga3{
            width: 26%;
            height: auto;
            object-fit: contain;
            margin-left: -12%;
        }
    }

    .content3{
        display: flex;
        margin: 0 2% 5%;
        padding-top: 18%;
        padding-bottom: 18%;
        font-size: 19px;
        background: url(../multimedia/text1-background.png) no-repeat;
    
        article{
            padding-top: 3%;
            padding-left: 1%;
            width: 23%;
        }
    
        #piedra{
            width: 30%;
            height: auto;
            object-fit: contain;
            margin-left: 14%;
            margin-right: 8%;
            // border-right: 7px solid rgba(59, 59, 59, 0.719);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .content1{
        background: url(../multimedia/text1-background-small.png) no-repeat ;
        font-size: 13px;

        #planta{
            width: 25%;
            height: auto;
            object-fit: contain;
            margin: 18% 8% 0 -2%;
            float:left;
        }
    
        .texto1{
            width: 20%;
            display: inline-block;
            margin-top: 10%;
        }
    }

    .content2{
        background: url(../multimedia/text2-background-small.png) no-repeat ;
        margin: 0 6% 3%;
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 5%;
        font-size: 13px;
    
        .texto2{
            width: 27%;
            margin:7% 0% 7% 4%;
        }
        .yoga3{
            width: 26%;
            height: auto;
            object-fit: contain;
            margin-left: -12%;
        }
    }

    .content3{
        display: flex;
        margin: 0 2% 5%;
        padding-top: 18%;
        padding-bottom: 18%;
        font-size: 13px;
        background: url(../multimedia/text1-background-small.png) no-repeat;
    
        article{
            padding-top: 3%;
            padding-left: 1%;
            width: 23%;
        }
    
        #piedra{
            width: 30%;
            height: auto;
            object-fit: contain;
            margin-left: 14%;
            margin-right: 8%;
            // border-right: 7px solid rgba(59, 59, 59, 0.719);
        }
    }
    .header *{
        font-size: 13px;
        text-decoration: none;
        font-family: Abel;
        letter-spacing: 9px;
        color: black;
        height: 4em;
    
        #lizYoga{
            background: url(../multimedia/Ellipse1.png) no-repeat ;
            padding:3em 7em 4em 4em;
            float: left;
        }
        
        #contactanos{
            float: right;
            background: url(../multimedia/Ellipse2.png) no-repeat ;
            padding: 3em 1em 4em 2em;
        }
    }
}

@media only screen and (max-width: 886px) {
    .contact{
        font-size: 1em;
        font-family: Amatic;
        // font-family: Arial, Helvetica, sans-serif;
        margin: 30% 20% 0 8%;
    
        *{
            margin: 1.5%;
        }
    
        form{
            padding: 1em 0;
            border: 3px solid black;
            width: 100%;
            border-radius: 20px;
            margin-left: 0;
            padding: 8%;
            div {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                #input {
                    background: none;
                    border-radius: 7px;
                    // padding: 0.7em;
                    margin-left: 3em;
                    width: 100%;
                }
    
                #mensaje{
                    margin-top: 1em;
                }
    
                textarea{
                    background: none;
                    border-radius: 7px;
                    resize: none;
                    display: block;
                    width: 80%;
                    max-width: 100%;
                    height: 25vh;
                    margin-bottom: 3em;
                }
    
                #Submit{
                    background: none;
                    font-size:48%;
                    padding: 1em 2em;
                    border-radius: 10px;
                }
            }
        } 
    }
    .content1{
        background: url(../multimedia/text1-background-small.png) no-repeat center;
        background-size: 110%;
        font-size: 13px;

        #planta{
            width: 25%;
            height: auto;
            float:left;
        }
    
        .texto1{
            width: 20%;
            display: inline-block;
            margin-top: 10%;
        }
    }

    .content2{
        background: url(../multimedia/text2-background-small.png) no-repeat 120%;
        margin: 0 6% 3%;
        padding-top: 6%;
    
        .texto2{
            width: 27%;
            margin:7% 0% 7% -16%;
            // padding-left: 5em;
        }
        .yoga3{
            width: 29%;
        }
    }

    .content3{
        display: flex;
        font-size: 13px;
        background: url(../multimedia/text1-background-small.png) no-repeat 120%;
    
        article{
            padding-top: 3%;
            padding-left: 1%;
            width: 23%;
        }
    
        #piedra{
            width: 30%;
            height: auto;
            object-fit: contain;
            margin-left: 14%;
            margin-right: 8%;
            // border-right: 7px solid rgba(59, 59, 59, 0.719);
        }
    }

}


@media only screen and (max-width: 768px) {
    .content1{
        background: url(../multimedia/text1-background-small.png) no-repeat center;
        background-size: 110%;
        font-size: 13px;

        #planta{
            width: 29%;
            height: auto;
            float:left;
            padding-top: 6em;
            margin-left: -8em;
        }
    
        .texto1{
            width: 30%;
            display: inline-block;
            margin-top: 10%;
        }
    }

    .content2{
        background: url(../multimedia/text2-background-small.png) no-repeat 50%;
        margin: 0 6% 3%;
        padding-top: 6%;
    
        .texto2{
            width: 27%;
            margin:7% 0% 7% -6%;
            // padding-left: 5em;
        }
        .yoga3{
            width: 40%;
            margin: 0;
        }
    }

    .content3{
        display: flex;
        font-size: 13px;
        background: url(../multimedia/text1-background-small.png) no-repeat 60%;
    
        article{
            padding-top: 3%;
            padding-left: 1%;
            width: 23%;
        }
    
        #piedra{
            width: 30%;
            height: auto;
            object-fit: contain;
            margin-left: 14%;
            margin-right: 8%;
            // border-right: 7px solid rgba(59, 59, 59, 0.719);
        }
    }

}

@media only screen and (max-width: 425px) {
    .content1{
        background: url(../multimedia/text1-background-small.png) no-repeat center;
        background-size: 190%;
        background-position: -21em 5em;
        margin-left: 0;
        margin-right: 0;
        font-size: 13px;
        line-height: 2em;
        word-spacing: 3px;

        #planta{
            width: 33%;
            height: auto;
            float:left;
            margin: 0;
            margin-top: 0;
            padding-top: 20em;
            object-fit: contain;
        }
    
        .texto1{
            width: 46%;
            display: inline-block;
            padding: 11em 3em;
            margin-top: 0;
        }
    }

    .content2{
        background: url(../multimedia/text2-background-small.png) no-repeat;
        background-size: 200%;
        background-position: -13em -2em;
        margin: 0 0 3% 0;
        // padding-top: 2%;
        display: block;
    
        .texto2{
            width: 50%;
            margin:15% 0% 2% -6%;
            padding-left: 2em;
            // padding-top: 00em;
            padding-bottom: 5em;
        }
        .yoga3{
            width: 40%;
            margin: 0;
            float: right;
            position: relative;
            top: -24em;
        }
    }

    .content3{
        display: block;
        font-size: 13px;
        background: url(../multimedia/text1-background-small.png) no-repeat;
        background-size: 200%;
        background-position: -22em 0;
        margin: 0;
    
        article{
            padding-top: 3%;
            padding-left: 1%;
            width: 45%;
            display: inline-block;
            position: relative;
            left: 6em;
            top: -5em;
        }
    
        #piedra{
            width: 33%;
            height: auto;
            margin: auto;
            position: relative;
            top: 15em;
            left: -5em;
            // object-fit: contain;
            // margin-left: 14%;
            // margin-right: 8%;
            // border-right: 7px solid rgba(59, 59, 59, 0.719);
        }
    }

    .header *{
        font-size: 10px;
        text-decoration: none;
        font-family: Abel;
        letter-spacing: 9px;
        color: black;
        height: 4em;
    
        #lizYoga{
            background: url(../multimedia/Ellipse1.png) no-repeat ;
            background-size: 90%;
            padding:2em 3.3em 2em 2em;
            float: left;
        }
        
        #contactanos{
            float: right;
            background: url(../multimedia/Ellipse2.png) no-repeat ;
            background-size: 100%;
            padding: 2em 1em 4em 2em;
        }
    }
    
}